In [1]:
import agent
from model import Model
from parameters import parameters as par
from modules.utils import Struct # GH functions
from collections import namedtuple
from modules.stategrid import create_statespace, create_grids
import pandas as pd
from modules.consumptionpreference import create_consumption_preference_array
from modules.agepolynomial import create_age_poly_array
import numpy as np
from modules import stategrid

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Change start age
par.start_age = 25

### Get statespace and the grids

In [3]:
statespace = create_statespace(par)
m_grid, f_grid, p_grid = [], [], []
for i in statespace:
    m_grid.append(i[0])
    f_grid.append(i[1])
    p_grid.append(i[2])
statespace = pd.DataFrame(statespace, columns= ['m', 'f', 'p'])

### Run model

In [4]:
m = Model()
V_sol, C_sol = m.solve(par)

======== BEGINNING ============
Solution at time step t:  89 , time is:  2019-05-16 14:53:28.800105
0 time is:  2019-05-16 14:53:29.110818
100 time is:  2019-05-16 14:53:37.994118
200 time is:  2019-05-16 14:53:47.423403
300 time is:  2019-05-16 14:53:54.551240
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  88 , time is:  2019-05-16 14:54:02.828943
0 time is:  2019-05-16 14:54:02.830529
100 time is:  2019-05-16 14:54:11.331562
200 time is:  2019-05-16 14:54:17.792565
300 time is:  2019-05-16 14:54:27.493716
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  87 , time is:  2019-05-16 14:54:34.741287
0 time is:  2019-05-16 14:54:34.742284
100 time is:  2019-05-16 14:54:43.375977
200 time is:  2019-05-16 14:54:48.859282
300 time is:  2019-05-16 14:54:55.071294
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  86 , time is:  2019-05-16 14:55:03.451581
0 time is:  2019-05-16 14:55:03.452838
100 time is:  2019-05-16 14:55:12.217654
200 time is:  2019-05-16 14:55:17.716917
300 time is:  2019-05-16 14:55:23.008602
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  85 , time is:  2019-05-16 14:55:28.033249
0 time is:  2019-05-16 14:55:28.034245
100 time is:  2019-05-16 14:55:37.029675
200 time is:  2019-05-16 14:55:42.600156
300 time is:  2019-05-16 14:55:48.134334
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  84 , time is:  2019-05-16 14:55:52.708675
0 time is:  2019-05-16 14:55:52.709654
100 time is:  2019-05-16 14:56:01.509412
200 time is:  2019-05-16 14:56:07.157190
300 time is:  2019-05-16 14:56:12.851780
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  83 , time is:  2019-05-16 14:56:17.565145
0 time is:  2019-05-16 14:56:17.566176
100 time is:  2019-05-16 14:56:26.488923
200 time is:  2019-05-16 14:56:31.994118
300 time is:  2019-05-16 14:56:37.688198
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  82 , time is:  2019-05-16 14:56:42.574048
0 time is:  2019-05-16 14:56:42.575042
100 time is:  2019-05-16 14:56:51.456069
200 time is:  2019-05-16 14:56:57.079067
300 time is:  2019-05-16 14:57:02.877361
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  81 , time is:  2019-05-16 14:57:07.846728
0 time is:  2019-05-16 14:57:07.847812
100 time is:  2019-05-16 14:57:16.722739
200 time is:  2019-05-16 14:57:22.249054
300 time is:  2019-05-16 14:57:28.227199
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  80 , time is:  2019-05-16 14:57:33.429346
0 time is:  2019-05-16 14:57:33.430523
100 time is:  2019-05-16 14:57:42.403705
200 time is:  2019-05-16 14:57:47.967621
300 time is:  2019-05-16 14:57:54.049091
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  79 , time is:  2019-05-16 14:57:59.157874
0 time is:  2019-05-16 14:57:59.158892
100 time is:  2019-05-16 14:58:08.140887
200 time is:  2019-05-16 14:58:13.841022
300 time is:  2019-05-16 14:58:19.860085
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  78 , time is:  2019-05-16 14:58:25.071902
0 time is:  2019-05-16 14:58:25.072945
100 time is:  2019-05-16 14:58:34.033613
200 time is:  2019-05-16 14:58:39.537559
300 time is:  2019-05-16 14:58:45.616916
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  77 , time is:  2019-05-16 14:58:50.880546
0 time is:  2019-05-16 14:58:50.881619
100 time is:  2019-05-16 14:58:59.903457
200 time is:  2019-05-16 14:59:05.567108
300 time is:  2019-05-16 14:59:11.773637
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  76 , time is:  2019-05-16 14:59:17.222084
0 time is:  2019-05-16 14:59:17.223198
100 time is:  2019-05-16 14:59:26.194097
200 time is:  2019-05-16 14:59:31.904762
300 time is:  2019-05-16 14:59:38.155301
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  75 , time is:  2019-05-16 14:59:43.443296
0 time is:  2019-05-16 14:59:43.444293
100 time is:  2019-05-16 14:59:52.447063
200 time is:  2019-05-16 14:59:58.163037
300 time is:  2019-05-16 15:00:04.482609
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  74 , time is:  2019-05-16 15:00:09.854437
0 time is:  2019-05-16 15:00:09.855431
100 time is:  2019-05-16 15:00:18.950733
200 time is:  2019-05-16 15:00:24.892874
300 time is:  2019-05-16 15:00:31.279843
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  73 , time is:  2019-05-16 15:00:36.786439
0 time is:  2019-05-16 15:00:36.787441
100 time is:  2019-05-16 15:00:45.700273
200 time is:  2019-05-16 15:00:51.734828
300 time is:  2019-05-16 15:00:58.252986
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  72 , time is:  2019-05-16 15:01:04.065504
0 time is:  2019-05-16 15:01:04.066673
100 time is:  2019-05-16 15:01:12.818448
200 time is:  2019-05-16 15:01:18.862472
300 time is:  2019-05-16 15:01:25.365189
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  71 , time is:  2019-05-16 15:01:31.215950
0 time is:  2019-05-16 15:01:31.216934
100 time is:  2019-05-16 15:01:39.958682
200 time is:  2019-05-16 15:01:46.313926
300 time is:  2019-05-16 15:01:53.050121
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  70 , time is:  2019-05-16 15:01:58.845997
0 time is:  2019-05-16 15:01:58.847019
100 time is:  2019-05-16 15:02:07.669489
200 time is:  2019-05-16 15:02:13.930118
300 time is:  2019-05-16 15:02:20.769557
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  69 , time is:  2019-05-16 15:02:26.545541
0 time is:  2019-05-16 15:02:26.546604
100 time is:  2019-05-16 15:02:35.277930
200 time is:  2019-05-16 15:02:41.489651
300 time is:  2019-05-16 15:02:48.154063
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  68 , time is:  2019-05-16 15:02:53.820093
0 time is:  2019-05-16 15:02:53.821237
100 time is:  2019-05-16 15:03:02.598319
200 time is:  2019-05-16 15:03:08.954568
300 time is:  2019-05-16 15:03:15.727561
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  67 , time is:  2019-05-16 15:03:21.417606
0 time is:  2019-05-16 15:03:21.418639
100 time is:  2019-05-16 15:03:30.169719
200 time is:  2019-05-16 15:03:36.634192
300 time is:  2019-05-16 15:03:43.456724
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  66 , time is:  2019-05-16 15:03:49.260556
0 time is:  2019-05-16 15:03:49.261672
100 time is:  2019-05-16 15:03:58.158720
200 time is:  2019-05-16 15:04:04.430222
300 time is:  2019-05-16 15:04:11.261621
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  65 , time is:  2019-05-16 15:04:17.009288
0 time is:  2019-05-16 15:04:17.010395
100 time is:  2019-05-16 15:04:25.716771
200 time is:  2019-05-16 15:04:32.359446
300 time is:  2019-05-16 15:04:39.273395
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  64 , time is:  2019-05-16 15:04:44.982671
0 time is:  2019-05-16 15:04:44.983727
100 time is:  2019-05-16 15:04:54.277684
200 time is:  2019-05-16 15:05:00.162288
300 time is:  2019-05-16 15:05:06.622238
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  63 , time is:  2019-05-16 15:05:12.372952
0 time is:  2019-05-16 15:05:12.373979
100 time is:  2019-05-16 15:05:22.094937
200 time is:  2019-05-16 15:05:27.843576
300 time is:  2019-05-16 15:05:34.238213
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  62 , time is:  2019-05-16 15:05:39.989241
0 time is:  2019-05-16 15:05:39.990259
100 time is:  2019-05-16 15:05:49.902434
200 time is:  2019-05-16 15:05:55.577510
300 time is:  2019-05-16 15:06:02.095800
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  61 , time is:  2019-05-16 15:06:07.790226
0 time is:  2019-05-16 15:06:07.791215
100 time is:  2019-05-16 15:06:17.864534
200 time is:  2019-05-16 15:06:23.417083
300 time is:  2019-05-16 15:06:29.982475
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  60 , time is:  2019-05-16 15:06:35.588956
0 time is:  2019-05-16 15:06:35.589953
100 time is:  2019-05-16 15:06:46.129932
200 time is:  2019-05-16 15:06:51.902948
300 time is:  2019-05-16 15:06:58.644399
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  59 , time is:  2019-05-16 15:07:04.439246
0 time is:  2019-05-16 15:07:04.440227
100 time is:  2019-05-16 15:07:15.405027
200 time is:  2019-05-16 15:07:21.548676
300 time is:  2019-05-16 15:07:28.211209
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  58 , time is:  2019-05-16 15:07:33.816451
0 time is:  2019-05-16 15:07:33.817450
100 time is:  2019-05-16 15:07:45.040986
200 time is:  2019-05-16 15:07:51.333430
300 time is:  2019-05-16 15:07:58.301300
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  57 , time is:  2019-05-16 15:08:03.778616
0 time is:  2019-05-16 15:08:03.779745
100 time is:  2019-05-16 15:08:15.358234
200 time is:  2019-05-16 15:08:22.225729
300 time is:  2019-05-16 15:08:29.257763
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  56 , time is:  2019-05-16 15:08:34.864212
0 time is:  2019-05-16 15:08:34.865177
100 time is:  2019-05-16 15:08:46.597639
200 time is:  2019-05-16 15:08:53.665892
300 time is:  2019-05-16 15:09:00.801750
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  55 , time is:  2019-05-16 15:09:06.307098
0 time is:  2019-05-16 15:09:06.308080
100 time is:  2019-05-16 15:09:18.067898
200 time is:  2019-05-16 15:09:25.299572
300 time is:  2019-05-16 15:09:32.147645
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  54 , time is:  2019-05-16 15:09:37.497338
0 time is:  2019-05-16 15:09:37.498544
100 time is:  2019-05-16 15:09:49.278662
200 time is:  2019-05-16 15:09:56.782861
300 time is:  2019-05-16 15:10:03.646880
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  53 , time is:  2019-05-16 15:10:09.001729
0 time is:  2019-05-16 15:10:09.002849
100 time is:  2019-05-16 15:10:21.084836
200 time is:  2019-05-16 15:10:28.942930
300 time is:  2019-05-16 15:10:35.652758
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  52 , time is:  2019-05-16 15:10:41.052912
0 time is:  2019-05-16 15:10:41.053936
100 time is:  2019-05-16 15:10:52.822897
200 time is:  2019-05-16 15:11:00.680025
300 time is:  2019-05-16 15:11:07.213869
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  51 , time is:  2019-05-16 15:11:12.536290
0 time is:  2019-05-16 15:11:12.537456
100 time is:  2019-05-16 15:11:24.420162
200 time is:  2019-05-16 15:11:32.305062
300 time is:  2019-05-16 15:11:38.809036
======== ENDING ===========
======== BEGINNING ============

Solution at time step t:  50 , time is:  2019-05-16 15:11:44.170307
0 time is:  2019-05-16 15:11:44.171369
100 time is:  2019-05-16 15:11:55.929480
200 time is:  2019-05-16 15:12:03.961580
300 time is:  2019-05-16 15:12:10.387632
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  49 , time is:  2019-05-16 15:12:15.693169
0 time is:  2019-05-16 15:12:15.694188
100 time is:  2019-05-16 15:12:27.654890
200 time is:  2019-05-16 15:12:35.702756
300 time is:  2019-05-16 15:12:42.292565
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  48 , time is:  2019-05-16 15:12:47.628519
0 time is:  2019-05-16 15:12:47.629729
100 time is:  2019-05-16 15:12:59.469090
200 time is:  2019-05-16 15:13:07.499831
300 time is:  2019-05-16 15:13:13.981608
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  47 , time is:  2019-05-16 15:13:19.315460
0 time is:  2019-05-16 15:13:19.316463
100 time is:  2019-05-16 15:13:31.205279
200 time is:  2019-05-16 15:13:39.239472
300 time is:  2019-05-16 15:13:45.643717
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  46 , time is:  2019-05-16 15:13:51.170690
0 time is:  2019-05-16 15:13:51.171722
100 time is:  2019-05-16 15:14:03.491645
200 time is:  2019-05-16 15:14:11.445444
300 time is:  2019-05-16 15:14:17.958694
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  45 , time is:  2019-05-16 15:14:23.272898
0 time is:  2019-05-16 15:14:23.273978
100 time is:  2019-05-16 15:14:35.228159
200 time is:  2019-05-16 15:14:43.056919
300 time is:  2019-05-16 15:14:49.500608
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  44 , time is:  2019-05-16 15:14:54.871363
0 time is:  2019-05-16 15:14:54.872354
100 time is:  2019-05-16 15:15:06.723229
200 time is:  2019-05-16 15:15:14.403326
300 time is:  2019-05-16 15:15:20.937826
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  43 , time is:  2019-05-16 15:15:26.348562
0 time is:  2019-05-16 15:15:26.349573
100 time is:  2019-05-16 15:15:38.213710
200 time is:  2019-05-16 15:15:45.917883
300 time is:  2019-05-16 15:15:52.540596
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  42 , time is:  2019-05-16 15:15:58.050475
0 time is:  2019-05-16 15:15:58.051535
100 time is:  2019-05-16 15:16:09.869409
200 time is:  2019-05-16 15:16:17.538666
300 time is:  2019-05-16 15:16:24.077035
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  41 , time is:  2019-05-16 15:16:29.540517
0 time is:  2019-05-16 15:16:29.541660
100 time is:  2019-05-16 15:16:41.315245
200 time is:  2019-05-16 15:16:48.931452
300 time is:  2019-05-16 15:16:55.479485
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  40 , time is:  2019-05-16 15:17:00.935657
0 time is:  2019-05-16 15:17:00.936688
100 time is:  2019-05-16 15:17:12.706643
200 time is:  2019-05-16 15:17:20.101379
300 time is:  2019-05-16 15:17:26.713554
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  39 , time is:  2019-05-16 15:17:32.284887
0 time is:  2019-05-16 15:17:32.285955
100 time is:  2019-05-16 15:17:43.975425
200 time is:  2019-05-16 15:17:51.353484
300 time is:  2019-05-16 15:17:57.861851
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  38 , time is:  2019-05-16 15:18:03.435621
0 time is:  2019-05-16 15:18:03.436602
100 time is:  2019-05-16 15:18:15.253091
200 time is:  2019-05-16 15:18:22.640550
300 time is:  2019-05-16 15:18:29.209882
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  37 , time is:  2019-05-16 15:18:34.845650
0 time is:  2019-05-16 15:18:34.846674
100 time is:  2019-05-16 15:18:46.589430
200 time is:  2019-05-16 15:18:53.821148
300 time is:  2019-05-16 15:19:00.452607
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  36 , time is:  2019-05-16 15:19:05.891703
0 time is:  2019-05-16 15:19:05.892698
100 time is:  2019-05-16 15:19:17.715539
200 time is:  2019-05-16 15:19:24.929105
300 time is:  2019-05-16 15:19:31.657240
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  35 , time is:  2019-05-16 15:19:37.377887
0 time is:  2019-05-16 15:19:37.378950
100 time is:  2019-05-16 15:19:49.941675
200 time is:  2019-05-16 15:19:57.185553
300 time is:  2019-05-16 15:20:03.788733
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  34 , time is:  2019-05-16 15:20:09.465184
0 time is:  2019-05-16 15:20:09.466164
100 time is:  2019-05-16 15:20:21.087446
200 time is:  2019-05-16 15:20:28.233289
300 time is:  2019-05-16 15:20:34.720556
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  33 , time is:  2019-05-16 15:20:40.388337
0 time is:  2019-05-16 15:20:40.389332
100 time is:  2019-05-16 15:20:51.942860
200 time is:  2019-05-16 15:20:59.002086
300 time is:  2019-05-16 15:21:05.528548
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  32 , time is:  2019-05-16 15:21:11.109672
0 time is:  2019-05-16 15:21:11.110657
100 time is:  2019-05-16 15:21:22.747962
200 time is:  2019-05-16 15:21:29.638428
300 time is:  2019-05-16 15:21:36.154848
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  31 , time is:  2019-05-16 15:21:41.853502
0 time is:  2019-05-16 15:21:41.854509
100 time is:  2019-05-16 15:21:53.463388
200 time is:  2019-05-16 15:22:00.420462
300 time is:  2019-05-16 15:22:06.889989
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  30 , time is:  2019-05-16 15:22:12.521567
0 time is:  2019-05-16 15:22:12.522704
100 time is:  2019-05-16 15:22:23.946503
200 time is:  2019-05-16 15:22:30.612712
300 time is:  2019-05-16 15:22:37.028958
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  29 , time is:  2019-05-16 15:22:42.618866
0 time is:  2019-05-16 15:22:42.619866
100 time is:  2019-05-16 15:22:53.292776
200 time is:  2019-05-16 15:22:59.574976
300 time is:  2019-05-16 15:23:06.221360
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  28 , time is:  2019-05-16 15:23:11.951553
0 time is:  2019-05-16 15:23:11.952563
100 time is:  2019-05-16 15:23:21.762827
200 time is:  2019-05-16 15:23:27.726240
300 time is:  2019-05-16 15:23:34.243869
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  27 , time is:  2019-05-16 15:23:40.065616
0 time is:  2019-05-16 15:23:40.066682
100 time is:  2019-05-16 15:23:48.985904
200 time is:  2019-05-16 15:23:55.184906
300 time is:  2019-05-16 15:24:02.041934
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  26 , time is:  2019-05-16 15:24:08.182446
0 time is:  2019-05-16 15:24:08.183587
100 time is:  2019-05-16 15:24:16.176198
200 time is:  2019-05-16 15:24:22.699726
300 time is:  2019-05-16 15:24:29.999489
======== ENDING ===========
======== BEGINNING ============
Solution at time step t:  25 , time is:  2019-05-16 15:24:36.448582
0 time is:  2019-05-16 15:24:36.449597
100 time is:  2019-05-16 15:24:43.117215
200 time is:  2019-05-16 15:24:50.193157
300 time is:  2019-05-16 15:24:58.041971
======== ENDING ===========

In [5]:
C_sol_copy = C_sol

In [6]:
C_sol_copy[25].shape

(384, 3)

In [67]:
# Choose time to investigate solution
t = 50

In [68]:
test_sol = pd.DataFrame(C_sol[t], columns = ['c', 'k', 'i'])
test_sol = test_sol.join(pd.DataFrame(statespace))

## View solutions

In [69]:
m_sol = test_sol.groupby('m').mean()[['c', 'k', 'i']]
m_sol

                          c         k         i
m
10000.000000    9999.999849  0.000000  0.312500
25171.873987   25171.873561  0.000000  0.312500
51825.082521   47575.384168  0.057292  0.354167
93793.064774   56943.524229  0.355208  0.583333
155169.007044  62628.181787  0.469792  0.833333
240276.277272  68310.316321  0.481250  0.979167
353646.102651  74225.208037  0.481250  1.000000
500000.000000  78786.516577  0.481250  1.000000

In [70]:
f_sol = test_sol.groupby('f').mean()[['c', 'k', 'i']]
f_sol

                      c         k         i
f
0.000000   61713.098877  0.000000  0.395833
9.285714   59352.218152  0.263542  0.458333
18.571429  56851.070442  0.297917  0.520833
27.857143  54456.566054  0.332292  0.562500
37.142857  51972.304598  0.343750  0.666667
46.428571  49320.503609  0.355208  0.833333
55.714286  46523.379326  0.366667  0.937500
65.000000  43451.863472  0.366667  1.000000

In [71]:
p_sol = test_sol.groupby('p').mean()[['c', 'k', 'i']]
p_sol

                     c         k         i
p
-10000.0  39014.885607  0.317969  0.734375
-4000.0   44266.790622  0.309375  0.703125
 2000.0   50495.341125  0.283594  0.671875
 8000.0   55684.829623  0.283594  0.750000
 14000.0  60988.900380  0.283594  0.671875
 20000.0  67280.006041  0.266406  0.500000

In [12]:
mf_sol = test_sol.groupby(['m', 'f']).mean()[['c', 'k', 'i']]
mf_sol

                                    c         k         i
m             f
10000.000000  0.000000    8661.419590  0.000000  0.000000
              9.285714    8611.080444  0.000000  0.000000
              18.571429   8346.461052  0.000000  0.000000
              27.857143   7717.979705  0.000000  0.333333
              37.142857   6788.533774  0.000000  0.666667
              46.428571   5981.152862  0.000000  0.833333
              55.714286   5275.689597  0.000000  1.000000
              65.000000   4632.511209  0.000000  1.000000
25171.873987  0.000000    9423.664260  0.000000  0.000000
              9.285714    9120.549767  0.000000  0.000000
              18.571429   8407.187477  0.000000  0.333333
              27.857143   7625.289945  0.000000  0.500000
              37.142857   6613.556465  0.458333  0.833333
              46.428571   5774.298627  0.550000  1.000000
              55.714286   5061.096241  0.550000  1.000000
              65.000000   4393.099231  0.550000  1.000000
51825.082521  0.000000    9746.984924  0.000000  0.000000
              9.285714    9285.586584  0.000000  0.333333
              18.571429   8267.894837  0.550000  0.833333
              27.857143   7403.508465  0.550000  1.000000
              37.142857   6570.547799  0.550000  1.000000
              46.428571   5813.268363  0.550000  1.000000
              55.714286   5094.669470  0.550000  1.000000
              65.000000   4415.015334  0.550000  1.000000
93793.064774  0.000000   10150.914162  0.000000  0.500000
              9.285714    9216.056435  0.550000  1.000000
              18.571429   8325.390255  0.550000  1.000000
              27.857143   7491.161015  0.550000  1.000000
              37.142857   6680.072657  0.550000  1.000000
              46.428571   5901.443351  0.550000  1.000000
...                               ...       ...       ...
155169.007044 18.571429   8595.595671  0.550000  1.000000
              27.857143   7740.868600  0.550000  1.000000
              37.142857   6867.249495  0.550000  1.000000
              46.428571   6011.707287  0.550000  1.000000
              55.714286   5203.598587  0.550000  1.000000
              65.000000   4465.796042  0.550000  1.000000
240276.277272 0.000000   10961.464525  0.000000  1.000000
              9.285714    9882.350073  0.550000  1.000000
              18.571429   8906.018509  0.550000  1.000000
              27.857143   7955.830701  0.550000  1.000000
              37.142857   6989.095259  0.550000  1.000000
              46.428571   6070.730325  0.550000  1.000000
              55.714286   5228.944807  0.550000  1.000000
              65.000000   4475.683153  0.550000  1.000000
353646.102651 0.000000   11379.220713  0.000000  1.000000
              9.285714   10117.491728  0.550000  1.000000
              18.571429   9052.601424  0.550000  1.000000
              27.857143   8035.249516  0.550000  1.000000
              37.142857   7025.378618  0.550000  1.000000
              46.428571   6085.255988  0.550000  1.000000
              55.714286   5234.294267  0.550000  1.000000
              65.000000   4477.515872  0.550000  1.000000
500000.000000 0.000000   11379.222000  0.000000  1.000000
              9.285714   10124.357515  0.550000  1.000000
              18.571429   9056.235954  0.550000  1.000000
              27.857143   8036.819561  0.550000  1.000000
              37.142857   7025.834687  0.550000  1.000000
              46.428571   6085.436475  0.550000  1.000000
              55.714286   5234.329737  0.550000  1.000000
              65.000000   4477.522558  0.550000  1.000000

[64 rows x 3 columns]

In [41]:
mp_sol = test_sol.groupby(['m', 'p']).mean()[['c', 'k', 'i']]
mp_sol;

## Pickle solutions

In [42]:
import os
wd = os.getcwd()

In [44]:
m_sol.to_pickle(wd + '/Pickled_Solutions/Second_Run_1605_Ditlev/m_sol.pkl')

In [49]:
f_sol.to_pickle(wd + '/Pickled_Solutions/Second_Run_1605_Ditlev/f_sol.pkl')

In [50]:
p_sol.to_pickle(wd + '/Pickled_Solutions/Second_Run_1605_Ditlev/p_sol.pkl')

In [51]:
mf_sol.to_pickle(wd + '/Pickled_Solutions/Second_Run_1605_Ditlev/mf_sol.pkl')

In [66]:
np.save(wd + '/Pickled_Solutions/Second_Run_1605_Ditlev/C_sol.npy', C_sol)
np.save(wd + '/Pickled_Solutions/Second_Run_1605_Ditlev/V_sol.npy', V_sol)

## Load again

In [61]:
np.load(wd + '/Pickled_Solutions/Second_Run_1605_Ditlev/C_sol.npy');

In [53]:
pd.read_pickle(wd + '/Pickled_Solutions/Second_Run_1605_Ditlev/mf_sol.pkl')