In [1]:
import agent
from model import Model
from parameters import parameters as par
from modules.utils import Struct # GH functions
from collections import namedtuple
from modules.stategrid import create_statespace, create_grids
import pandas as pd
from modules.consumptionpreference import create_consumption_preference_array
from modules.agepolynomial import create_age_poly_array
import numpy as np
from modules import stategrid

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

### Get statespace and the grids

In [2]:
statespace = create_statespace(par)
m_grid, f_grid, p_grid = [], [], []
for i in statespace:
    m_grid.append(i[0])
    f_grid.append(i[1])
    p_grid.append(i[2])
statespace = pd.DataFrame(statespace, columns= ['m', 'f', 'p'])

### Run model

In [3]:
m = Model()
V_sol, C_sol = m.solve(par)

In [5]:
# Choose time to investigate solution
t = 75

In [6]:
test_sol = pd.DataFrame(C_sol[t], columns = ['c', 'k', 'i'])
test_sol = test_sol.join(pd.DataFrame(statespace))

In [7]:
test_sol.groupby('m').mean()[['c', 'k', 'i']]

                           c         k    i
m
10.079368          10.079368  0.481250  0.0
16495.338152    16495.337902  0.550000  0.0
138030.186250  125398.073465  0.446875  0.0
500000.000000  485756.732664  0.240625  0.0

In [8]:
test_sol.groupby('f').mean()[['c', 'k', 'i']]

                       c        k    i
f
0.000000   156917.734370  0.34375  0.0
21.666667  156828.324064  0.41250  0.0
43.333333  156899.928397  0.48125  0.0
65.000000  157014.236568  0.48125  0.0

In [9]:
test_sol.groupby('p').mean()[['c', 'k', 'i']]

                           c         k    i
p
-20000.000000  143520.318827  0.481250  0.0
 3333.333333   156872.108602  0.378125  0.0
 26666.666667  163633.898108  0.446875  0.0
 50000.000000  163633.897861  0.412500  0.0