### Load libraries

In [12]:
import agent
from model import Model
from parameters import parameters as par
from modules.utils import Struct # GH functions
from collections import namedtuple
from modules.stategrid import create_statespace, create_grids
import pandas as pd
from modules.consumptionpreference import create_consumption_preference_array
from modules.agepolynomial import create_age_poly_array
import numpy as np
from modules import stategrid

from modules.loader import Loader

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

### Set start age, education level and date of running the program (for storing solution)

In [13]:
start_age = 25
educ = 'College' # Can be either '<HS', 'HS' or 'College'
date = '18-05'

par.start_age = start_age

# Change education parameters (age-polynomial income profile and number of children n)
par.age_poly = create_age_poly_array(educ)
par.n = create_consumption_preference_array(educ)

## Solve model

In [14]:
m = Model()
V_sol, C_sol = m.solve(par)

## Save model

In [15]:
folder = 'Pickled_Solutions/Run_' + educ + '/'
Loader.save(V_sol, C_sol, par, file_prefix = folder + date)

## Investigate Solution

### Choose time to investigate solution

In [16]:
t = 30

### Get state space and grids

In [17]:
statespace = create_statespace(par)
m_grid, f_grid, p_grid = [], [], []
for i in statespace:
    m_grid.append(i[0])
    f_grid.append(i[1])
    p_grid.append(i[2])
statespace = pd.DataFrame(statespace, columns= ['m', 'f', 'p'])

### View solution

In [18]:
view_sol = pd.DataFrame(C_sol[t], columns = ['c', 'k', 'i'])
view_sol = view_sol.join(pd.DataFrame(statespace))

In [19]:
m_sol = view_sol.groupby('m').mean()[['c', 'k', 'i']]
m_sol

                          c         k    i
m
10000.000000    9999.999845  0.000000  1.0
25171.873987   23415.076499  0.022917  1.0
51825.082521   32437.252073  0.286458  1.0
93793.064774   32977.941075  0.423958  1.0
155169.007044  32972.469825  0.481250  1.0
240276.277272  33022.759128  0.481250  1.0
353646.102651  33047.123909  0.481250  1.0
500000.000000  33049.871976  0.481250  1.0

In [20]:
f_sol = view_sol.groupby('f').mean()[['c', 'k', 'i']]
f_sol

                      c         k    i
f
0.000000   43891.045196  0.000000  1.0
9.285714   38927.001829  0.286458  1.0
18.571429  34161.157574  0.343750  1.0
27.857143  29874.897725  0.366667  1.0
37.142857  25849.418858  0.401042  1.0
46.428571  22349.132323  0.412500  1.0
55.714286  19299.149565  0.412500  1.0
65.000000  16570.691257  0.435417  1.0

In [21]:
p_sol = view_sol.groupby('p').mean()[['c', 'k', 'i']]
p_sol

                     c         k    i
p
-10000.0  21415.800663  0.352344  1.0
-4000.0   24125.637862  0.343750  1.0
 2000.0   27334.955049  0.326563  1.0
 8000.0   30150.888607  0.326563  1.0
 14000.0  33240.925773  0.326563  1.0
 20000.0  36923.662791  0.317969  1.0

In [22]:
mf_sol = view_sol.groupby(['m', 'f']).mean()[['c', 'k', 'i']]
mf_sol

                                    c         k    i
m             f
10000.000000  0.000000    9999.999849  0.000000  1.0
              9.285714    9999.999849  0.000000  1.0
              18.571429   9999.999849  0.000000  1.0
              27.857143   9999.999849  0.000000  1.0
              37.142857   9999.999849  0.000000  1.0
              46.428571   9999.999849  0.000000  1.0
              55.714286   9999.999849  0.000000  1.0
              65.000000   9999.999813  0.000000  1.0
25171.873987  0.000000   25171.873530  0.000000  1.0
              9.285714   25171.873569  0.000000  1.0
              18.571429  25171.873511  0.000000  1.0
              27.857143  25171.873405  0.000000  1.0
              37.142857  24452.968988  0.000000  1.0
              46.428571  23021.440057  0.000000  1.0
              55.714286  20993.260181  0.000000  1.0
              65.000000  18165.448748  0.183333  1.0
51825.082521  0.000000   47732.167203  0.000000  1.0
              9.285714   45226.346894  0.000000  1.0
              18.571429  40532.074977  0.000000  1.0
              27.857143  34785.897298  0.183333  1.0
              37.142857  28956.585988  0.458333  1.0
              46.428571  24298.371164  0.550000  1.0
              55.714286  20566.584636  0.550000  1.0
              65.000000  17399.988422  0.550000  1.0
93793.064774  0.000000   52716.586111  0.000000  1.0
              9.285714   46863.687632  0.091667  1.0
              18.571429  39501.518652  0.550000  1.0
              27.857143  33804.452940  0.550000  1.0
              37.142857  28676.233329  0.550000  1.0
              46.428571  24294.425092  0.550000  1.0
...                               ...       ...  ...
155169.007044 18.571429  39513.468425  0.550000  1.0
              27.857143  33807.996838  0.550000  1.0
              37.142857  28677.107109  0.550000  1.0
              46.428571  24294.641242  0.550000  1.0
              55.714286  20566.665949  0.550000  1.0
              65.000000  17400.019084  0.550000  1.0
240276.277272 0.000000   53871.165861  0.000000  1.0
              9.285714   46040.314065  0.550000  1.0
              18.571429  39522.236597  0.550000  1.0
              27.857143  33809.486721  0.550000  1.0
              37.142857  28677.446030  0.550000  1.0
              46.428571  24294.718402  0.550000  1.0
              55.714286  20566.682211  0.550000  1.0
              65.000000  17400.023134  0.550000  1.0
353646.102651 0.000000   54047.979838  0.000000  1.0
              9.285714   46056.322224  0.550000  1.0
              18.571429  39524.006901  0.550000  1.0
              27.857143  33809.735209  0.550000  1.0
              37.142857  28677.505283  0.550000  1.0
              46.428571  24294.730713  0.550000  1.0
              55.714286  20566.687337  0.550000  1.0
              65.000000  17400.023766  0.550000  1.0
500000.000000 0.000000   54068.489171  0.000000  1.0
              9.285714   46057.710457  0.550000  1.0
              18.571429  39524.081677  0.550000  1.0
              27.857143  33809.739539  0.550000  1.0
              37.142857  28677.504287  0.550000  1.0
              46.428571  24294.732067  0.550000  1.0
              55.714286  20566.695288  0.550000  1.0
              65.000000  17400.023316  0.550000  1.0

[64 rows x 3 columns]